* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}


/*Here is css for "SIMPLE MATH SAMPLE 0 */

.Sampl0 {
    width: max-content;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 10px 10px 40px rgb(222, 208, 208);
}

h1 {
    background-color: rgb(32, 44, 40);
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}

.inputDiv {
    display: flex;
    background-color: red;
    justify-content: space-evenly;
}

.buttonDiv {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 12px;
    background-color: rgb(108, 88, 127);
}

.btn:hover {
    background-color: blueviolet;
}

.resultDiv {
    background-color: rgb(32, 44, 40);
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}